.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-narrow {
  width: 1086px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---------Header---------*/
.header {
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
  margin-right: 631px;
  display: flex;
  align-items: center;
  gap: 4px;
  &::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../images/chocolate.jpg);
    background-size: cover;
  }
}

.first-logo {
  font-style: italic;
}

.header-menu-list {
  display: flex;
  gap: 24px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111111;
}

.header-media-icon {
  fill: transparent;
  stroke: #111111;
}

.header-media-icon:hover,
.header-media-icon:focus {
  stroke: #fd9222;
}
/*---------Hero---------*/

.hero {
  background-color: #1e1823;
  background-image: linear-gradient(rgba(30, 24, 35, 0.4)),
    url(../images/chocolate-covered.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 380px;
  padding-bottom: 40px;
  border-radius: 30px;
  margin-bottom: 72px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: #ffffff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border-radius: 100px;
  padding: 14px 40px;
}

.hero-btn-orange {
  background: #fd9222;
  border: none;
  margin-right: 14px;
}

.hero-btn-shadow {
  border: 1px solid #ffffff;
}

.hero-btn-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-left: auto;
  &::after {
    content: "";
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 0px;
    background-image: url(../images/Vector.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

/*---------Features---------*/

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 18px;
}

.features-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.features-list {
  display: flex;
  gap: 70px;
}

.features-item {
  width: calc((100% - 140px) / 3);
}

/*---------Taste---------*/
.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}

.taste-title {
  max-width: 411px;
  margin: 0 auto 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.taste-title-orange {
  color: #fd9222;
}

.taste-text {
  max-width: 486px;
  margin: 0 auto 50px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111111;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
}

.taste-list-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px, 32px;
  width: calc((100% - 57px) / 4);
}

.taste-list-image {
  margin: 0 auto 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
  padding-left: 32px;
  padding-bottom: 28px;
}

/*---------Made---------*/
.made {
  padding-top: 50px;
  padding-bottom: 50px;
}
.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  margin-bottom: 50px;
}

.made-title-orange {
  color: #fd9222;
}

.made-image {
  border-radius: 15px;
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
  padding-top: 32px;
  padding-left: 32px;
}
.made-recipe {
  display: flex;
  gap: 20px;
  align-items: center;
}

.made-list {
  padding: 32px;
}

.made-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 24px;

  max-width: 462px;
  &::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #4c4c4c;
    border-radius: 50%;
    margin-right: 0px;
    border: 1px solid #eceded;
  }
}

.made-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

.made-recipe-text {
  max-width: 516px;
  padding: 0;
  align-items: center;
}
/*---------Review---------*/

.review {
  padding-top: 50px;
  padding-bottom: 100px;
}

.review-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  margin-bottom: 50px;
}
.review-title-orange {
  color: #fd9222;
}
.review-list {
  display: flex;
  justify-content: center;
  gap: 28px;
  padding: 24px;
}
.review-list-item {
  position: relative;
  width: 360px;
}
.review-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.review-card {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 360px;
  height: 200px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #ffffff;
  margin-bottom: 50px;
}

.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
  margin-top: 56px;
  margin-bottom: 24px;
}

.review-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}
.review-button {
  font-weight: 600;
  font-size: 18px;
  color: #111111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

/*---------Footer---------*/

.footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 86px;
  background-color: #1e1823;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-title {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 78px;
  margin-right: 32px;
}

.footer-title-orange {
  color: #fd9222;
}

.footer-contact-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-contacts {
}
.footer-contact-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer-contact-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-address {
}

.footer-nav-list {
  display: flex;
  gap: 24px;
}

.footer-nav-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;

  color: #ffffff;
}

.footer-left {
  display: flex;
  flex-direction: column;
}
.footer-right {
  text-align: right;
}
