.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-narrow {
  width: 1086px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---------Header---------*/
.header {
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
  margin-right: 631px;
}

.first-logo {
  font-style: italic;
}

.header-menu-list {
  display: flex;
  gap: 24px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111111;
}

/*---------Hero---------*/

.hero {
  background-color: #1e1823;
  padding-top: 380px;
  padding-bottom: 40px;
  border-radius: 30px;
  margin-bottom: 72px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: #ffffff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  padding: 14px, 40px;
  border-radius: 100px;
}

.hero-btn-orange {
  background: #fd9222;
  border: none;
  margin-right: 14px;
}

.hero-btn-shadow {
  border: 1px solid var(--white);
}

.hero-btn-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-left: auto;
}

/*---------Features---------*/

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 18px;
}

.features-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.features-list {
  display: flex;
  gap: 70px;
}

.features-item {
  width: calc((100% - 140px) / 3);
}

/*---------Taste---------*/
.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}

.taste-title {
  max-width: 411px;
  margin: 0 auto 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.taste-title-orange {
  color: #fd9222;
}

.taste-text {
  max-width: 486px;
  margin: 0 auto 50px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111111;
}

.taste-list {
}
.taste-list-item {
}
.taste-list-image {
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
}

/*---------Made---------*/
.made {
  padding-top: 50px;
  padding-bottom: 50px;
}
.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}
.made-title-orange {
  color: #fd9222;
}

.made-image {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
}
.made-list {
}
.made-list-item {
}
.made-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

/*---------Review---------*/

.review {
  padding-top: 50px;
  padding-bottom: 100px;
}
.review-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}
.review-title-orange {
  color: #fd9222;
}
.review-list {
}
.review-list-item {
}
.review-image {
}
.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
}
.review-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.review-button {
  font-weight: 600;
  font-size: 18px;
  color: #111111;
}

/*---------Footer---------*/

.footer {
  background-color: #1e1823;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-title-orange {
  color: #fd9222;
}

.footer-contact-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-contacts {
}
.footer-contact-list {
}
.footer-contact-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
}
.footer-navigation {
}
.footer-nav-list {
}
.footer-nav-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: var(--white);
  color: #ffffff;
}
