.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

/*---------Header---------*/
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
}

.first-logo {
  font-style: italic;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111111;
}

/*---------Hero---------*/

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.hero {
  background-color: #1e1823;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  font-family: inherit;
}

.hero-btn-shadow {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.hero-btn-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #ffffff;
}

/*---------Features---------*/

.features {
  background-color: #1e1823;
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.features-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*---------Taste---------*/
